# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Environment variables
.env

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

ml/model.joblib